Source: clara
Section: net
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python3-all,
 python3-setuptools,
 pandoc,
 bash-completion,
 texlive-latex-base,
 texlive-latex-extra,
 lmodern,
 texlive-fonts-recommended
Standards-Version: 3.9.1
Homepage: https://github.com/edf-hpc/clara
Vcs-Git: https://github.com/scibian/clara.git
Vcs-Browser: https://github.com/scibian/clara

Package: clara-core
Architecture: all
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python-docopt,
 python3-clustershell
Description: Cluster administration tools core engine
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the core engine of Clara.

Package: clara-plugin-build
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
 cowbuilder
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools build plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the build plugin of Clara.

Package: clara-plugin-chroot
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
 debootstrap,
 squashfs-tools
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools chroot plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the chroot plugin of Clara.

Package: clara-plugin-enc
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools enc plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the enc plugin of Clara.

Package: clara-plugin-images
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
 debootstrap,
 squashfs-tools,
 python3-paramiko,
 python3-requests
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools images plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the images plugin of Clara.

Package: clara-plugin-ipmi
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
 fping,
 ipmitool,
 sshpass
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools ipmi plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the ipmi plugin of Clara.

Package: clara-plugin-p2p
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
 mktorrent,
 python3-paramiko,
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools p2p plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the p2p plugin of Clara.

Package: clara-plugin-repo
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
 reprepro,
 yum-utils,
 gnupg,
 debmirror,
 python3-requests,
 python3-prettytable
Recommends: gnupg-agent
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools repo plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the repo plugin of Clara.

Package: clara-plugin-slurm
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
 slurm-client
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools slurm plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the slurm plugin of Clara.

Package: clara-plugin-virt
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
 python3-libvirt,
 python3-jinja2,
 python3-humanize,
 python3-prettytable
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools virt plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the virt plugin of Clara.

Package: clara-plugin-show
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 clara-core (= ${source:Version}),
Breaks: clara (<< 0.20180123)
Replaces: clara (<< 0.20180123)
Description: Cluster administration tools show plugin
 Clara is a set of tools to help administering and installing clusters.
 .
 This package provides the virt plugin of Clara.

Package: clara
Architecture: all
Depends:
 ${misc:Depends},
 clara-core (= ${source:Version}),
 clara-plugin-build (= ${source:Version}),
 clara-plugin-chroot (= ${source:Version}),
 clara-plugin-enc (= ${source:Version}),
 clara-plugin-images (= ${source:Version}),
 clara-plugin-ipmi (= ${source:Version}),
 clara-plugin-p2p (= ${source:Version}),
 clara-plugin-repo (= ${source:Version}),
 clara-plugin-slurm (= ${source:Version}),
 clara-plugin-virt (= ${source:Version}),
 clara-plugin-show (= ${source:Version})
Description: Cluster administration tools metapackage
 Clara is a set of tools to help administering and installing clusters.
 .
 This metapackage provides Clara with all plugins.
